{
box-sizing: border-box;
margin: 0;
padding: 0;

}

.cabecalho {
    background-color: rgb(239, 228, 184);
padding: 15px 25px;
}

.cartao {
width: 260px;
height: 200px;
}

.cartao-imagem {
width: 100%;
}
.cabecalho { 
    background-color: beige;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 15px 25px; 
body { 
    background-color: burlywood;
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
} main { 
  flex: 1; 
} 
} 